<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{docDBData.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{docDBData.add.headline}]]</h1>
                <div>
                    <a th:href="@{/docDBDatas}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{docDBData.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('docDBData')}" />
            <form th:action="${requestUri}" method="post" novalidate="" enctype="multipart/form-data">
                <div th:replace="~{fragments/forms::inputRow(object='docDBData', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='docDBData', field='fileName', type='file')}" />
                <input type="submit" th:value="#{docDBData.add.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
            </form>
        </div>
    </body>
</html>
